In [50]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
# conda install -c conda-forge mlxtend

In [51]:
data = pd.read_csv("book.csv")
data.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

In [55]:
data

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [74]:
te=TransactionEncoder()
te_ary=te.fit(data).transform(data)

In [75]:
df=pd.DataFrame(te_ary, columns=te.columns_)
df

,A,B,C,D,F,G,I,R,Y,a,...,h,i,k,l,n,o,r,s,t,u
0,False,True,True,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,True,False,False
1,False,True,False,False,False,False,False,False,True,False,...,True,False,True,False,False,True,False,True,True,True
2,False,True,True,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,True,False,False
3,False,True,False,True,False,False,True,False,True,False,...,False,False,True,False,False,True,False,True,True,False
4,False,True,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [60]:
df=pd.get_dummies(data)
df.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

In [61]:
df=pd.get_dummies(data)
df.head()
df.mean()

ChildBks     0.4230
YouthBks     0.2475
CookBks      0.4310
DoItYBks     0.2820
RefBks       0.2145
ArtBks       0.2410
GeogBks      0.2760
ItalCook     0.1135
ItalAtlas    0.0370
ItalArt      0.0485
Florence     0.1085
dtype: float64

# Apriori Algorithm

In [66]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

    support                       itemsets
0    0.4230                     (ChildBks)
1    0.2475                     (YouthBks)
2    0.4310                      (CookBks)
3    0.2820                     (DoItYBks)
4    0.2145                       (RefBks)
5    0.2410                       (ArtBks)
6    0.2760                      (GeogBks)
7    0.1135                     (ItalCook)
8    0.1085                     (Florence)
9    0.1650           (ChildBks, YouthBks)
10   0.2560            (CookBks, ChildBks)
11   0.1840           (DoItYBks, ChildBks)
12   0.1515             (ChildBks, RefBks)
13   0.1625             (ChildBks, ArtBks)
14   0.1950            (ChildBks, GeogBks)
15   0.1620            (CookBks, YouthBks)
16   0.1155           (DoItYBks, YouthBks)
17   0.1010             (YouthBks, ArtBks)
18   0.1205            (YouthBks, GeogBks)
19   0.1875            (CookBks, DoItYBks)
20   0.1525              (CookBks, RefBks)
21   0.1670              (CookBks, ArtBks)
22   0.1925             (CookBks, GeogBks)
23   0.1135            (CookBks, ItalCook)
24   0.1055             (DoItYBks, RefBks)
25   0.1235             (DoItYBks, ArtBks)
26   0.1325            (DoItYBks, GeogBks)
27   0.1105              (RefBks, GeogBks)
28   0.1275              (GeogBks, ArtBks)
29   0.1290  (CookBks, ChildBks, YouthBks)
30   0.1460  (CookBks, ChildBks, DoItYBks)
31   0.1225    (CookBks, ChildBks, RefBks)
32   0.1265    (CookBks, ChildBks, ArtBks)
33   0.1495   (CookBks, ChildBks, GeogBks)
34   0.1045  (DoItYBks, ChildBks, GeogBks)
35   0.1020    (ChildBks, GeogBks, ArtBks)
36   0.1015    (CookBks, ArtBks, DoItYBks)
37   0.1085   (CookBks, GeogBks, DoItYBks)
38   0.1035     (CookBks, GeogBks, ArtBks)

In [67]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=False)
frequent_itemsets

    support   itemsets
0    0.4230        (0)
1    0.2475        (1)
2    0.4310        (2)
3    0.2820        (3)
4    0.2145        (4)
5    0.2410        (5)
6    0.2760        (6)
7    0.1135        (7)
8    0.1085       (10)
9    0.1650     (0, 1)
10   0.2560     (0, 2)
11   0.1840     (0, 3)
12   0.1515     (0, 4)
13   0.1625     (0, 5)
14   0.1950     (0, 6)
15   0.1620     (1, 2)
16   0.1155     (1, 3)
17   0.1010     (1, 5)
18   0.1205     (1, 6)
19   0.1875     (2, 3)
20   0.1525     (2, 4)
21   0.1670     (2, 5)
22   0.1925     (2, 6)
23   0.1135     (2, 7)
24   0.1055     (3, 4)
25   0.1235     (3, 5)
26   0.1325     (3, 6)
27   0.1105     (4, 6)
28   0.1275     (5, 6)
29   0.1290  (0, 1, 2)
30   0.1460  (0, 2, 3)
31   0.1225  (0, 2, 4)
32   0.1265  (0, 2, 5)
33   0.1495  (0, 2, 6)
34   0.1045  (0, 3, 6)
35   0.1020  (0, 5, 6)
36   0.1015  (2, 3, 5)
37   0.1085  (2, 3, 6)
38   0.1035  (2, 5, 6)

In [68]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0),(1),0.4230,0.2475,0.1650,0.390071,1.576044,0.060308,1.233750
1,(1),(0),0.2475,0.4230,0.1650,0.666667,1.576044,0.060308,1.731000
2,(0),(2),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
3,(2),(0),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
4,(0),(3),0.4230,0.2820,0.1840,0.434988,1.542511,0.064714,1.270770
...,...,...,...,...,...,...,...,...,...
95,"(2, 6)",(5),0.1925,0.2410,0.1035,0.537662,2.230964,0.057107,1.641657
96,"(5, 6)",(2),0.1275,0.4310,0.1035,0.811765,1.883445,0.048547,3.022812
97,(2),"(5, 6)",0.4310,0.1275,0.1035,0.240139,1.883445,0.048547,1.148237
98,(5),"(2, 6)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327
99,(6),"(2, 5)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800

In [69]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(4),(0),0.2145,0.423,0.1515,0.706294,1.669725,0.060767,1.964548
1,(6),(0),0.2760,0.423,0.1950,0.706522,1.670264,0.078252,1.966074
2,(4),(2),0.2145,0.431,0.1525,0.710956,1.649549,0.060050,1.968556
3,(7),(2),0.1135,0.431,0.1135,1.000000,2.320186,0.064582,inf
4,"(0, 1)",(2),0.1650,0.431,0.1290,0.781818,1.813963,0.057885,2.607917
5,"(1, 2)",(0),0.1620,0.423,0.1290,0.796296,1.882497,0.060474,2.832545
6,"(0, 3)",(2),0.1840,0.431,0.1460,0.793478,1.841017,0.066696,2.755158
7,"(2, 3)",(0),0.1875,0.423,0.1460,0.778667,1.840820,0.066687,2.606928
8,"(0, 4)",(2),0.1515,0.431,0.1225,0.808581,1.876058,0.057204,2.972534
9,"(2, 4)",(0),0.1525,0.423,0.1225,0.803279,1.899004,0.057993,2.933083
10,"(0, 5)",(2),0.1625,0.431,0.1265,0.778462,1.806175,0.056462,2.568403
11,"(2, 5)",(0),0.1670,0.423,0.1265,0.757485,1.790745,0.055859,2.379235
12,"(0, 6)",(2),0.1950,0.431,0.1495,0.766667,1.778809,0.065455,2.438571
13,"(2, 6)",(0),0.1925,0.423,0.1495,0.776623,1.835989,0.068072,2.583081
14,"(3, 6)",(0),0.1325,0.423,0.1045,0.788679,1.864490,0.048452,2.730446
15,"(5, 6)",(0),0.1275,0.423,0.1020,0.800000,1.891253,0.048067,2.885000
16,"(3, 5)",(2),0.1235,0.431,0.1015,0.821862,1.906873,0.048272,3.194159
17,"(3, 6)",(2),0.1325,0.431,0.1085,0.818868,1.899926,0.051392,3.141354
18,"(5, 6)",(2),0.1275,0.431,0.1035,0.811765,1.883445,0.048547,3.022812

In [71]:
rule1 =rules[['antecedents','consequents','support','confidence','lift']]
rule1

   antecedents consequents  support  confidence      lift
0          (4)         (0)   0.1515    0.706294  1.669725
1          (6)         (0)   0.1950    0.706522  1.670264
2          (4)         (2)   0.1525    0.710956  1.649549
3          (7)         (2)   0.1135    1.000000  2.320186
4       (0, 1)         (2)   0.1290    0.781818  1.813963
5       (1, 2)         (0)   0.1290    0.796296  1.882497
6       (0, 3)         (2)   0.1460    0.793478  1.841017
7       (2, 3)         (0)   0.1460    0.778667  1.840820
8       (0, 4)         (2)   0.1225    0.808581  1.876058
9       (2, 4)         (0)   0.1225    0.803279  1.899004
10      (0, 5)         (2)   0.1265    0.778462  1.806175
11      (2, 5)         (0)   0.1265    0.757485  1.790745
12      (0, 6)         (2)   0.1495    0.766667  1.778809
13      (2, 6)         (0)   0.1495    0.776623  1.835989
14      (3, 6)         (0)   0.1045    0.788679  1.864490
15      (5, 6)         (0)   0.1020    0.800000  1.891253
16      (3, 5)         (2)   0.1015    0.821862  1.906873
17      (3, 6)         (2)   0.1085    0.818868  1.899926
18      (5, 6)         (2)   0.1035    0.811765  1.883445

In [47]:
rules.sort_values('lift',ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(CookBks),(ChildBks),0.431,0.423,0.256,0.593968,1.404179,0.073687,1.421069
1,(ChildBks),(CookBks),0.423,0.431,0.256,0.605201,1.404179,0.073687,1.441240

In [73]:
rule2 =rule1[rule1['confidence']>=1]
rule2

  antecedents consequents  support  confidence      lift
3         (7)         (2)   0.1135         1.0  2.320186

In [48]:
rules[rules.lift>1]
len(rules)

2